<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quicksilver.com.quicksilverbuscompany">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Launcher icon made by https://www.flaticon.com/authors/vectors-market" Vectors Market from "https://www.flaticon.com Flaticon www.flaticon.com is licensed by http://creativecommons.org/licenses/by/3.0/ Creative Commons BY 3.0"-->
    <application
        android:name="quicksilver.com.quicksilverbuscompany.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_bus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_bus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.RouteListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.RouteDetailActivity"
            android:label="@string/title_route_detail"
            android:parentActivityName=".ui.activities.RouteListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quicksilver.com.quicksilverbuscompany.ui.activities.RouteListActivity" />
        </activity>
    </application>

</manifest>